/*---Widget Styles*/
   
/*Dark Theme*/
QWidget {
	background: rgb(50,50,50);
	color:white;
}
QWebView {
    color:black;
}
QLabel {
    background:transparent;
}
QTabWidget::pane, QTabBar::pane {
    background:transparent;
    border-bottom:0px;
    border-top:0px;
    /*background:rgb(60,60,60);*/
}
/*QTabWidget::tab-bar, QTabBar::tab-bar {*/
/*    background:rgb(50,50,50);*/
/*}*/
QTabWidget, QTabBar {
    border:0px;
    /*border-right:1px solid rgb(40,40,40);*/
    /*border-bottom:1px solid rgb(40,40,40);*/
}
QTabBar::tab {
    color:rgb(160,160,160);
    /*border-bottom:1px solid rgb(80,80,80);*/
    border-right:1px solid rgb(40,40,40);
    border-top:1px solid rgb(40,40,40);
    padding:4px 10px;
    background:rgb(60,60,60);
    /*padding-right:0px;*/
}

QTabBar::tab:hover {
    color:white;
}
QTabBar::tab:selected {
    background:rgb(50,50,50);
    border-top:1px solid rgb(50,50,50);
    /*border-bottom:1px solid rgb(50,50,50);*/
    border-right:0px;
    color:white;
}
QTextEdit,QTextBrowser,QLineEdit,QPlainTextEdit {
	background-color: rgb(30,30,30);
	border:1px solid rgb(30,30,30);
	border-radius:4px;
	padding:2px;
	color:white;
}
QListView {
    outline: 0;
}
QListWidget::item:selected,QTreeWidget::item:selected {
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(35,75,117, 200), stop:1 rgba(24,69,125, 200));
    color:white;
}
QListWidget::item,QTreeWidget::item {
    outline:none;
}

QWebView {
    background:white;
}

QMenu {
    background:rgba(60,60,60,240);
}
QMenu::item:selected {
    /*background-color:rgb(0,85,127);*/
    color:white;
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(35,75,117, 200), stop:1 rgba(24,69,125, 200));
}

QPushButton {
    background:rgb(70,70,70);
    border:1px outset rgb(80,80,80);
    /*border-bottom:1px solid rgb(55,55,55);*/
    /*border-right:1px solid rgb(40,40,40);*/
    padding:4px 16px;
    border-radius:4px;
}

QPushButton:hover {
    background:rgb(80,80,80);
}

/*---Tabs*/
/*QTabWidget#tab_left::pane {*/
/*    border:0px;*/
/*    border-radius:5px;*/
/*    background: rgb(50,50,50);*/
    /*border-top:1px solid rgba(30,30,30,200);*/
    /*border-bottom:1px solid rgba(30,30,30,200);*/
/*}*/


/*QTabWidget::tab-bar,QTabBar{*/
    /*background:rgba(40,40,40);*/
/*    border:0px;*/
/*    border-bottom:1px solid rgba(30,30,30,200);*/
/*}*/
/*QTabBar::tab,QTabWidget::tab  {*/
    
/*    background: transparent;*/
    /*color:rgb(180,180,180);*/
/*    opacity:0.5;*/
/*    border:0px;*/
/*    border-right: 1px solid rgb(30,30,30,200);*/
    /*border-left: 1px solid rgb(30,30,30,200);*/
    /*border-top: 1px solid rgb(30,30,30,200);*/
    /*min-width: 8ex;*/
/*    padding: 4px;*/
/*    color:rgb(150,150,150);*/
    /*background: rgb(40,40,40);*/
    
/*    border-radius:0px;*/
/*}*/

/*QTabBar::tab:selected {*/
/*    opacity:1;*/
/*    background: rgb(50,50,50);*/
    /*border-right: 1px solid rgba(30,30,30,200);*/
    /*border-left: 1px solid rgba(30,30,30,200);*/
/*    color:white;*/
/*    margin:0px;*/
/*}*/
/*QTabBar::tab:hover {*/
/*    color:white;*/
    /*background: rgb(45,45,45);*/
/*    border-top:1px solid rgba(21,63,125,200);*/
/*}*/
/*QTabBar::tab:first,QTabBar::tab:first:selected {*/
/*    width:30px;*/
/*    margin:0px;*/
/*    padding:0px;*/
/*    padding-left:12px;*/
/*    text-align: center;*/
/*}*/
/*QTabBar::tab:last {*/
/*    border-right: 1px solid rgb(30,30,30,200);*/
/*}*/

/*---South Tabs*/
/*QTabBar#tabbar_bottom::tab,QTabWidget#tab_right::tab-bar::tab {*/
/*    opacity:0.5;*/
/*    border-top: 1px solid rgb(30,30,30,200);*/
/*    border-bottom: 1px solid rgb(30,30,30,200);*/
    /*border-bottom:0px;*/
/*}*/
/*QTabBar#tabbar_bottom::tab:hover,QTabWidget#tab_right::tab-bar::tab:hover {*/
    /*border-top:0;*/
/*    border-bottom:1px solid rgba(21,63,125,200);*/
/*}*/
/*QTabBar#tabbar_bottom::tab:selected,QTabWidget#tab_right::tab:selected {*/
/*    border-top:0;*/
/*    border-right: 2px solid rgb(30,30,30,200);*/
/*    border-left: 1px solid rgb(30,30,30,200);*/
/*    border-bottom: 2px solid rgb(30,30,30,200);*/
/*}*/


/*---Treeview*/
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(style/img/tri_right.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url(style/img/tri_down.png);
}
QTreeWidget::branch:has-siblings:!adjoins-item {
    border-image: url(style/img/vline.png) 0;
}
QTreeWidget::branch:has-siblings:adjoins-item {
    border-image: url(style/img/branch-more.png) 0;
}
QTreeWidget::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(style/img/branch-end.png) 0;
}
QTreeWidget {
    outline:none;
}

/*---Splitter, Scrollbar*/
QSplitter::handle {
    background:transparent;
}
QSplitter::handle:hover {
    background:rgb(70,70,70);
}
QSplitter::handle:horizontal {
    width: 4px;
}
QSplitter::handle:vertical {
    height: 4px;
}


QScrollBar::handle {
    /*border:1px outset rgb(65,65,65);*/
}

QScrollBar:vertical {
    width: 12px;
    /*margin: 22px 0 22px 0;*/
}
QScrollBar::handle:vertical {
    background: rgb(60,60,60);
    /*min-height: 20px;*/
    border:none;
    height:0px;
}
QScrollBar::add-line:vertical {
    background: rgb(60,60,60);
    /*border:1px outset rgb(65,65,65);*/
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border:none;
}

QScrollBar::sub-line:vertical {
    /*border: 2px solid grey;*/
    background: rgb(60,60,60);
    /*border:1px outset rgb(65,65,65);*/
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    border:none;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    /*image: url(style/img/tri_down_gray.png);*/
    background: transparent;
}
QScrollBar::up-arrow:vertical {
    /*image: url(style/img/tri_up_gray.png);*/
}
QScrollBar:horizontal {
    height: 12px;
    /*margin: 0px 22 0px 22;*/
}
QScrollBar::handle:horizontal {
    background: rgb(60,60,60);
    /*min-width: 20px;*/
    width:0px;
}
QScrollBar::add-line:horizontal {
    /*border:1px outset rgb(65,65,65);*/
    background: rgb(60,60,60);
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
      border: none;
      /*background: none;*/
}

QScrollBar::sub-line:horizontal {
    /*border:1px outset rgb(65,65,65);*/
    background: rgb(60,60,60);
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
      border: none;
      /*background: none;*/
      /*width:0;*/
}
QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    /*image: url(style/img/tri_right_gray.png);*/
    background: transparent;
    background: rgb(60,60,60);
    width:0px;
    border:none;
}
QScrollBar::left-arrow:horizontal {
    /*image: url(style/img/tri_left_gray.png);*/
    width:0px;
}

QLabel#l_statusbar {
    color:rgb(138,214,255);
    /*background:rgb(40,40,40);*/
}

/*---Topbar*/
    QFrame#fr_topbar {
        /*background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(50, 50, 50, 255), stop:0.831818 rgba(70, 70, 70, 255), stop:1 rgba(80, 80, 80, 255));*/
        background:rgb(60,60,60);
        /*border-bottom:1px solid rgba(30,30,30,200);*/
    }
    
    QFrame#fr_mainbutton, QFrame#fr_toolbar, QFrame#fr_topleft, QFrame#fr_find {
        background:transparent;
    }
    
    QFrame#fr_tab {
        border-bottom:0px;
        padding-left:6px;
        border-right:1px solid rgba(50,50,50,255);
        background:transparent;
    }

    QPushButton.tab_button, QPushButton#b_tabicon {
        background:transparent;
        border:0px;
    }
    
    QFrame#fr_toolbar, QFrame#fr_topleft {
        border:0px;
    }

    QFrame#fr_mainbutton {
        border:0px;
    }
    
    QTabBar::close-button{
    	image: url(style/img/close.png);
    }
    QTabBar::close-button:hover{
    	image: url(style/img/close_hover.png);
    }
    
    QLabel#l_title_prefix {
        color:rgb(220,220,220);
    }
    QPushButton {
        outline:none;
    }

    QLineEdit#le_goto, QFrame#fr_find_2 {
        border-left:1px solid rgb(50,50,50);
        background:transparent;
    }
    QPushButton#b_back {
        border-left:1px solid rgba(50,50,50,255);
    }
/*---  Toolbar Buttons*/
    QPushButton.toolbar,QPushButton#b_menu {
        background:transparent;
    	border:0px;
    	padding:3px;
    	padding-left:5px;
    	padding-right:5px;
    	outline:none;
    	min-height:20px;
    	max-width:32px;
    	min-width:32px;
    	border-radius:0px;
    }
    QPushButton.toolbar-big {
        min-width:50px;
        max-width:50px;
    }
    QPushButton.toolbar:hover,QToolButton.toolbar:hover, QPushButton#b_menu:hover {
    	/*background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(75, 75, 75, 100), stop:0.154545 rgba(106, 106, 106, 100), stop:0.831818 rgba(134, 134, 134, 100), stop:1 rgba(142, 142, 142, 100));*/
    	background-color:rgb(80,80,80);
    }
    
    QPushButton.toolbar::menu-indicator, QPushButton#b_menu::menu-indicator {
         image: url(none.png);
    }
    
    QPushButton#b_menu {
        padding:0px;
        min-width:46px;
        max-width:46px;
    }
    
    /*---Toolbar Find/Goto*/
    QLineEdit.toolbar, QFrame.toolbarLineEdit {
        background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(32, 32, 32, 255), stop:0.0590909 rgba(41, 41, 41, 255), stop:0.922727 rgba(59, 59,59, 255), stop:1 rgba(71, 71, 71, 255));
        color:white;
        border:0px;
    }
    
    QFrame#fr_right {
        /*border-left:1px solid rgba(30,30,30,200);*/
    }
    /*--- Main Menu Button*/
    QPushButton.main_menu::menu-indicator {
         image: url(none.png);
    }
    QPushButton.main_menu {
    	border-radius:5px;
    	outline:none;
    	background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(48, 85, 100, 255), stop:0.21267 rgba(61, 107, 127, 255), stop:0.831818 rgba(72, 127, 150, 255), stop:1 rgba(104, 166, 175, 255));
    }
    QPushButton.main_menu:hover {
    	border-radius:5px;
    	background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(48, 85, 120, 205), stop:0.21267 rgba(61, 107, 127, 205), stop:0.831818 rgba(72, 127, 150, 205), stop:1 rgba(104, 166, 175, 205));
    }

    /*---Left Bar*/
    
    QFrame#fr_leftbar,QFrame#fr_left_tab_btn, QFrame#fr_left_top_btn, QFrame#fr_left_apps {
        /*background-color:rgb(50,50,50);*/
        /*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(65,65,65, 255), stop:1 rgba(50,50,50, 255));*/
        background:rgb(60,60,60);
    }
    
    QFrame#fr_left_apps, QFrame#fr_left_top_btn {
        border:0px;
        /*border-right: 1px solid rgba(30,30,30,200);*/
    }
    
    QFrame#fr_left_tab_btn > QPushButton, QFrame#fr_left_apps > QPushButton, QFrame#fr_left_top_btn > QPushButton {
        background:rgba(0,0,0,0);
        /*width:40px;*/
        background:transparent;
        height:36px;
        border:0px;
        padding-top:6px;
        padding-bottom:6px;
    }
    
    QFrame#fr_leftbar > QPushButton:hover, QFrame#fr_left_tab_btn > QPushButton:hover, QFrame#fr_left_apps > QPushButton:hover, QFrame#fr_left_top_btn > QPushButton:hover {
        /*background:rgba(56,62,70,200);*/
        background:rgb(75,75,75);
        border:0px;
        border-radius:0px;
        /*border-top:1px solid rgb(40,40,40,200);*/
        /*border-bottom:1px solid rgb(40,40,40,200);*/
    }

    QFrame#fr_leftbar > QPushButton:checked {
        background:rgb(65,65,65);
        /*border-bottom:1px solid rgba(30,30,30,200);*/
        border-right:0px;

    }
    
    QFrame#fr_left_tab_btn > QPushButton {
        /*border-top:1px solid rgb(40,40,40,200);*/
        /*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(75,75,75, 255), stop:1 rgba(60,60,60, 255));*/
        background:rgb(60,60,60);
        border-right:0px;
        border-top:0px;
        border-radius:0px;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
        /*border-right: 1px solid rgba(30,30,30,200);*/
        padding:4px;
        padding-top:6px;
        padding-bottom:6px;
    }
    

    
    QFrame#fr_left_tab_btn > QPushButton:hover {
        /*border:1px solid rgb(30,30,30,200);*/
        /*border-right:0px;*/
        border-top:0px;
        
    }

    QFrame#fr_left_tab_btn > QPushButton:checked {
        /*border:1px solid rgb(20,20,20,200);*/
        border-right:0px;
        border-top:0px;
        background:rgb(50,50,50);
        /*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(45,45,45, 255), stop:1 rgba(50,50,50, 255));*/
    }
    
    QFrame#fr_left_top_btn > QPushButton:checked {
        background: rgba(50,50,50, 255);
    }

    QPushButton#b_left_toggle {
        /*border-top:1px solid rgb(30,30,30,200);*/
    }

    QFrame#fr_left {
        /*border-left: 1px solid rgba(30,30,30,200);*/
    }

    QStackedWidget#sw_bottom {
        /*border-top:1px solid rgba(30,30,30,200);*/
    }


/*---Tab Window / Window Switcher*/
    QTabWidget.tabWindow,QTabBar.tabWindow{
        background:rgba(60,60,60);
        /*background:rgba(50,50,50);*/
        /*background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(50, 50, 50, 255), stop:0.831818 rgba(80, 80, 80, 255), stop:1 rgba(100, 100, 100, 255));*/
        border-top:0px;
        
    }
    QTabWidget.tabWindow::tab-bar {
        alignment: left;
    }
    
    /* Style the tab using the tab sub-control. Note that
        it reads QTabBar _not_ QTabWidget */
    QTabBar.tabWindow::tab {
        background: transparent;
        border:0px;
        /*border-right: 1px solid rgba(60,60,60,200);*/
        border-radius:0px;
        min-width: 8ex;
        padding: 4px;
        color:rgb(180,180,180);
        background:rgb(50,50,50);
        border-right:1px solid rgb(80,80,80);
        border-top:1px solid rgb(40,40,40);
    }
    QTabBar.tabWindow::tab:hover {
        color:white;
    }
    
    QTabBar.tabWindow::tab:selected {
        background: rgb(60,60,60);
        /*background:rgba(60,60,60);*/
        color:white;
        border:0px;
    
    }

    QTabWidget.tabWindow::pane QFrame {
        background:transparent;
    }
    QTabWidget.tabWindow::pane {
        background:rgb(50,50,50);
        background:rgba(60,60,60);
        border:0;
        /*border-bottom:rgba(30,30,30,200);*/
        outline:0;
    }

    QListWidget.editor_tab {
        outline:0;
        border:0px;
        padding:0px;
        background-color:rgb(150,150,150);
        border-top:1px solid rgba(45,45,45,255);
    }
    QListWidget.editor_tab::item {
        /*background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(46, 46,46, 255), stop:0.218182 rgba(65, 65, 65, 255), stop:0.831818 rgba(81, 81, 81, 255), stop:1 rgba(95, 95, 95, 255));*/
        
        border:1px solid rgba(30,30,30,200);
        border:1px solid rgba(45,45,45,255);
        border-top:0px;
        border-left:0px;
        outline:0;
        color:rgb(200,200,200);
        /*opacity:100;*/
    }

    QListWidget.editor_tab::item:hover {
        background:rgb(40,40,40);
        border:1px solid rgba(40,40,40,200);
        border-top:0px;
        border-left:0px;
        color:white;
        /*border-radius:4px;*/
        /*background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(26, 26, 26, 255), stop:0.218182 rgba(45, 45, 45, 255), stop:0.831818 rgba(61, 61, 61, 255), stop:1 rgba(75, 75, 75, 255));*/
    }
    QListWidget.editor_tab::item:selected {
        /*background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(27,44,60, 255), stop:0.218182 rgba(39,61,81, 255), stop:0.831818 rgba(52,79,108, 255), stop:1 rgba(48,85,114, 255));*/
        background:rgb(30,30,30);
        border:1px solid rgba(30,30,30,200);
        outline:0;
        border-top:0px;
    }
    QLabel.editor_tab {
        color:rgb(230,230,230);
    }
    QPushButton.editor_tab_btn {
        background:transparent;
    	border:0px;
    	padding:3px;
    	padding-left:6px;
    	padding-right:6px;
    	outline:none;
    	min-height:20px;
    	max-height:20px;
    	max-width:20px;
    	min-width:20px;
    }
    
    QPushButton.editor_tab_cls_btn {
        background:transparent;
    	border:0px;
    	padding:3px;
    	/*padding-left:6px;*/
    	padding-right:2px;
    	outline:none;
    	min-height:20px;
    	max-height:20px;
    	max-width:20px;
    	min-width:20px;
    }
    
    QPushButton.editor_tab_cls_btn {
    /*QListWidget.editor_tab::item:hover QPushButton.editor_tab_cls_btn {*/
    	image: url(style/img/close.png);
    }
    
    QPushButton.editor_tab_cls_btn:hover {
    	image: url(style/img/close_hover.png);
    }