html {
    height:100%;
    min-height: 100%;
    background:rgb(50,50,50);
}
html,body {
    margin:0px;
    padding:0px;
    font-family:ubuntu,helvetica;
}
    
body {
    /*border:1px solid gray;*/
    background: -webkit-linear-gradient(top, #004c75 0%,#112a44 100%);
    /*border-top-left-radius:10px;*/
    background-size: cover;
    background-position: center; 
    border-bottom:0px;
    border-right:0px;
    border-top:0px;
}
.main {

}

a {
    text-decoration:none;
    cursor:pointer;
}

.centered {
    /*padding:8px;*/
    text-align:center;
}

#logo {
    text-align:center;
    background:rgba(50,50,50,0.7);
    
}

#version {
    color:rgb(220,220,220);
}

#scope-text {
    font-size:30px;
    color:white;
    /*text-shadow: rgba(105,105,105,1) 1px 1px;*/
    padding:8px;
    display:inline-block;
}

.file,.newfile,.toolbutton {
    display:inline-block;
    /*border-radius:5px;*/
    background:rgba(250,250,250,0.7);
    border-top:1px solid rgba(30,30,30,0.5);
    padding:6px;
    padding-left:12px;
    padding-right:12px;
    /*margin:2px;*/
    color:black;
    text-decoration:none;
    outline:none;
    vertical-align:top;
}
.newfile {
    display:block;
    text-align:left;
    background:rgba(100,100,100,0);
    color:rgb(220,220,220);
}
.file:hover,.newfile:hover,.toolbutton:hover {
    /*background:rgba(100,100,100,0.4);*/
    background:rgba(30,30,30,0.7);
    color:white;
}

.current, .current:hover {
    /*background:rgba(250,250,250,0.9);*/
    /*background:rgba(207,232,240,0.9);*/
    background:rgba(155,204,255,0.9);
}
.file-icon {
    max-height:16px;
    min-height:16px;
}

.file_icon_block {
    min-width:100px;
    text-align:center;
}

.section-title {
    /*color:rgba(220,220,220,0.6);*/
    color:rgba(240,240,240,1);
    /*text-shadow: rgba(85,85,85,0.5) 1px 1px;*/
    text-shadow: rgba(85,85,85,0.8) 1px 1px;
    font-size:1.4rem;
    display:inline-block;
    text-align:center;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:5px;
}
.close {
    position:absolute;
    bottom:0px;
    right:0px;
    color:white;
    background:rgba(50,50,50,0.9);
    padding:6px;
    padding-left:20px;
    padding-right:20px;
    /*border-top-right-radius:10px;*/
    border-top-left-radius:4px;
    /*border-bottom-left-radius:6px;*/
}
.close:hover {
    background:rgba(50,50,50,0.7);
}
hr {
    background:rgba(255,255,255,0.5);
    height:2px;
    border:0px;
    width:80%;
    border-radius:2px;
}
.panel {
    background:rgba(50,50,50,0.8);
    display:inline-block;
    border-radius:4px;
    /*margin-top:20px;*/
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:6px;
    margin-left:1%;
    margin-right:1%;
    /*min-width:20%;*/
}

.top_buttons {
    background:rgba(50,50,50,0);
    /*border-radius:6px;*/
    color:white;
    border:0px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    /*border-left:1px solid gray;*/
    /*border-right:1px solid gray;*/
    /*border-top:1px solid gray;*/
    display:inline-block;
    margin:0px;
    font-size:18px;
    vertical-align:bottom;
}
/*.top_buttons:hover {*/
/*    background:rgba(50,50,50,0.3);*/
/*}*/

#new_files {
    position:fixed;
    top:70;
    left:0;
    margin-left:0;
    border-radius:0;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
/*---Workspace*/
#workspaces {
    vertical-align:top;
    margin-left:160px;
}

.workspace {
    display:inline-block;
    /*width:240px;*/
    min-height:20px;
    vertical-align:top;
    background:rgba(50,50,50,0.8);
    border:0;
    margin-top:2px;
    margin-right:2px;

    border-radius:2px;
    box-shadow:1px 1px rgba(30,30,30,0.6);
    padding:0;
}

.workspace:hover {
    background:rgba(30,30,30,0.8);
}

.wksp-text {
    text-align:center;
    font-size:1.2rem;
    width:220px;
    box-sizing:border-box;
    display:inline-block;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    margin:0;
    outline:none;
}

.wksp-icon {
    /*margin-top:4px;*/
    padding:8px;
    /*padding-bottom:10px;*/
    padding-top:10px;
    width:40px;
    box-sizing:border-box;
    display:inline-block;
    float:left;
    outline:none;
    
}

.wksp-icon img {
    /*float:left;*/
    height:24px;
    /*margin-top:5px;*/
    text-align:center;
}

/*---Help*/
#docs {
    vertical-align:top;
    position:fixed;
    right:0;
    top:56;
    max-width:200px;
    margin-right:0px;
    border-radius:0px;
    border-bottom-left-radius:4px;
    padding-top:0px;
    background:rgba(50,50,50,0.9);
}
#docs .newfile {
    width:180px;
    /*background:rgba(50,50,50,0.8);*/
}