<h2>General Settings</h2>

<p>Unless specified otherwise, 0 = false, 1 = true</p>

<ul>
	<li><strong><span>save_workspace_on_close</span></strong>&nbsp;-&nbsp;<span>save workspace settings on close (if this is set to 0, then you must use the Workspace Save menu to save the current workspace state)</span>&nbsp;(<span>default is 1)</span></li>
	<li><strong><span>widgetstyle</span></strong><span>&nbsp;-&nbsp;<span>set the style of the editor (Qt style is used)</span></span>
	<ul>
		<li><span>options are: windows, motif, cde, plastique, windowsxp, macintosh</span></li>
		<li><span>default is plastique</span></li>
		<li><span>leave blank to use OS default (&quot;widgetstyle&quot;:&quot;&quot;)</span></li>
	</ul>
	</li>
	<li><strong>style</strong> - path to the Qt stylesheet to use</li>
	<li><strong>showPath</strong> - show the full file path in the top right (default is 1)</li>
	<li><strong>activeEditors </strong>-&nbsp;the list of active editors that are enabled</li>
	<li><strong>visibleLineTracking</strong> - event that tracks what lines are visible (used by the outline plugin) (default is 1)</li>
	<li><strong>checkFileChanges</strong> - the number of seconds to check if a file has changed (set to 0 if you don&#39;t want to check for file changes)</li>
	<li><strong>network - proxy</strong> - set the proxy server for any plugins that pull from the web (leave blank for no proxy server)</li>
	<li><strong>syntaxChecking</strong> - check for syntax errors using pyflakes (Python only)</li>
	<li><strong>qt_debug_port</strong> - specify the default port to enable qtwebengine debugging.  Set to 0 to disable</li>
	<li><strong>console</strong> - specify the console to launch.  Set to "" to use default</li>
</ul>

<h2><hr>Window Settings</h2>

<ul>
	<li><strong>openMode</strong> - size the editor opens as

	<ul>
		<li>1 = custom - use size and margin attributes</li>
		<li>2 = maximize window</li>
	</ul>
	</li>
	<li><strong>margin</strong> - if openMode = 1, specify the margins for the editor</li>
	<li><strong>size</strong> - size of the editor in pixels or percent (add % at end). &nbsp;The size will subtract off the margins</li>
	<li><strong>tabWindow</strong>
	<ul>
		<li><strong><span>view_folder</span></strong><span>&nbsp;-&nbsp;<span>view parent folder name in tab along with filename</span></span>&nbsp;(<span>default is 0)</span></li>
		<li><span><strong>height</strong> - height of the tab window (default is about 3 rows of tabs)</span></li>
	</ul>
	</li>
	<li><strong>pluginLeft, pluginBottom, pluginRight</strong>
	<ul>
		<li><strong>visible </strong>- plugin is visible by default
		<ul>
			<li>1 = visible</li>
			<li>0 = hidden by default (can be made visible through the Main Menu &gt; Window menu</li>
		</ul>
		</li>
		<li><strong>width/height</strong> - specify default width or height the plugin window is opened to</li>
		<li><strong>showTabText</strong> - show the title of the tabs for the plugins (set to 0 to only show icons)</li>
	</ul>
	</li>
</ul>
<br />
&nbsp;