<h2>Language Settings</h2>

<p style="margin: 0px;">The format for these settings are json<br />
&nbsp;</p>

<p style="margin: 0px;"><u><strong>Standard keys are:</strong></u></p>

<ul>
	<li style="margin: 0px;"><strong>editor</strong> - the editor to use for the language
	    <ul>
        	<li><b>scintilla</b> - Scope uses this as default for Python and text files. Scintilla uses less memory
        	</li>
        	<li><b>ace</b> - Scope uses this by default for html, css, markdown, and javascript. Ace has built in syntax checking for html, css, and javascript
        	</li>
	    </ul>
	</li>
	<li style="margin: 0px;"><strong>run</strong> - the command to execute for this language
	<ul>
		<li>filepath is appended to the end of the command</li>
		<li>&nbsp; or use {{filename}} to specify where to insert the filename in the command<br />
		&nbsp; &nbsp; Example: <code>python -u {{filename}}</code></li>
		<li style="margin: 0px;">use the prefix &quot;preview &quot; followed by a command to generate html to generate html and show it in the preview pane<br />
		&nbsp; &nbsp; Example: <code>preview /home/home/node/markdown.sh</code></li>
	</ul>
	</li>
	<li><b>compile</b> Example: <code>&quot;compile&quot;:{&quot;new_ext&quot;:&quot;min.js&quot;,&quot;cmd&quot;:&quot;uglifyjs {{filename}} -o {{new_file}}&quot;}</code>
	<ul>
		<li><b>new_ext</b> - the extension to use for the new file created by the command (optional)</li>
		<li><b>cmd</b> - the command to run
		<ul>
			<li>{{filename}} - use within the command to insert the filename</li>
			<li>{{new_file}} - use within the command to insert the new filename with the extension</li>
		</ul>
		</li>
	</ul>
	</li>
	<li style="margin: 0px;"><strong>fave</strong> - set to 0, if you don&#39;t want this language to show up in the favorites lists</li>
	<li style="margin: 0px;"><strong>theme</strong> - for ace editor, this will change the theme</li>
	<li style="margin: 0px;"><strong>wordwrap</strong> - 0 for no wordwrap, 1 for wordwrap</li>
	<li style="margin: 0px;"><strong>editor_lang</strong> - (optional) - specify the language mode to use for the editor</li>
	<li style="margin: 0px;"><strong>writerMode</strong>&nbsp;- (ace editor only) toggle a writer mode that hides the line numbers, sets word wrap, and increases font. &nbsp;This mode can be helpful for writing. &nbsp;Ctrl+Alt+Z will toggle this mode 1 to turn on, 0 off</li>
	<li style="margin: 0px;"><strong>fontSize</strong> - 12 - set the font size</li>
</ul>
